.container{
  margin-bottom: 20px;
  display: flex;
  gap: 20px;
}

.container li{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;

  justify-content: center;
  align-items: center;
}

.apple_container{
  background-color: white;
}

.google_container{
  background-color: white;
}

.kakao_container{
  background-color: var(--Yellow50, #fee500);
}

.facebook_container{
  background-color: var(--Blue50, #1877f2);
}